<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Insurance Prediction</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
          <img  src="../static/insurance.jpg" alt="">
        </div>
        
        <div class="form-section">
            <h1>Medical Insurance Prediction</h1>
            <form action="/predict" method="post">
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" id="age" name="age" required placeholder="Enter your age">
                </div>
                
                <div class="form-group">
                    <label for="sex">Sex</label>
                    <select id="sex" name="sex" required>
                        <option value="0">Male</option>
                        <option value="1">Female</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="bmi">BMI</label>
                    <input type="number" id="bmi" name="bmi" step="0.1" required placeholder="Enter your BMI">
                </div>

                <div class="form-group">
                    <label for="children">Children</label>
                    <input type="number" id="children" name="children" required placeholder="Number of children">
                </div>

                <div class="form-group">
                    <label for="smoker">Smoker</label>
                    <select id="smoker" name="smoker" required>
                        <option value="0">Yes</option>
                        <option value="1">No</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="region">Region</label>
                    <select id="region" name="region" required>
                        <option value="0">Southeast</option>
                        <option value="1">Southwest</option>
                        <option value="2">Northwest</option>
                        <option value="3">Northeast</option>
                    </select>
                </div>

                <div class="button-group">
                    <button type="button" class="back-button">Back</button>
                    <button type="submit" class="submit-button">Predict Insurance Charges</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
